elements {
	position: relative;
	background-color: rgba( white, 1 );
	border-radius: 3px;
	font-size: 40px;
	font-weight: bold;
	color: black;
	height: 100px;
	width: 100px;
	padding: 0 0px;
	align-items: center;
}