velocity {
	position: absolute;
	display: flex;
	background-color: rgba( black, 0.5 );
	border-radius: 3px;
	//right: -50%;
	bottom: 48px;
	font-size: 40px;
	font-weight: bold;
	//color: white;
	width: 100px;
	height: 80px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	

}

.label {
	font-size: 40px;
	font-weight: bold;
	color: white;
}